<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamc.mira.iwashere">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".IWasHere"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.login.ResetPasswordActivity"
            android:label="@string/title_activity_reset_password"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".presentation.main.MainActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".presentation.register.RegisterActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".presentation.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".presentation.register.GoogleActivity"></activity>
    </application>

</manifest>